{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead"> Django (Джанго, ['dʒæŋɡoʊ]) — свободный фреймворк для веб-приложений на языке Python, 
            использующий шаблон проектирования MVC. Проект поддерживается организацией Django Software Foundation.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Ссылка &raquo;</a></p>
</div>

<div class="row">
    <div >
        <h2>Начало работы</h2>
        <p>
            Django дает вам мощный, основанный на шаблонах способ создания динамических веб-сайтов, которые
            обеспечивает четкое разделение проблем и дает вам полный контроль над разметкой
            для приятной и быстрой разработки.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Ссылка &raquo;</a></p>
    </div>
    <div >
        <h2>Библиотеки</h2>
        <p>Индекс пакетов Python - это хранилище программного обеспечения для языка программирования Python.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Ссылка &raquo;</a></p>
    </div>
    <div >
        <h2>Microsoft Azure</h2>
        <p>Вы можете легко опубликовать в Microsoft Azure с помощью Visual Studio. Узнайте, как вы можете разместить свое приложение, используя бесплатную пробную версию сегодня.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Ссылка &raquo;</a></p>
    </div>
</div>

{% endblock %}
